{% extends 'base.html' %}

{% block content %}

<div class="row text-center">
  <div class="col">
    <h1>Welcome to Home!</h1>
  </div>
</div>

<div class="row mb-3">
    <div class="col-md-4 mx-auto col-10">
        <form class="form" id="tweet-create-form" method="POST" action="/create-tweet">
            {% csrf_token %}
            <div class="d-none alert alert-danger" id="tweet-create-form-error"></div>
            <textarea class="form-control" required="required" name="content" placeholder="Your tweet..."></textarea>
            <button class="btn btn-primary" type="submit">Tweet</button>
        </form>
    </div>
</div>

<div class="row" id="tweets">

</div>


<script>

    function handleTweetFormError(msg, display) {
        let myErrorDiv = document.getElementById("tweet-create-form-error");
        if (display === true) {
            myErrorDiv.setAttribute("class", "d-block alert alert-danger");
            myErrorDiv.innerText = msg;
        } else {
            myErrorDiv.setAttribute("class", "d-none alert alert-danger");
        }
    }


  function handleTweetCreateFormDidSubmit(event) {
      event.preventDefault();
      const myForm = event.target;
      const myFormData = new FormData(myForm);
      const url = myForm.getAttribute("action");
      const method = myForm.getAttribute("method");
      const xhr = new XMLHttpRequest();
      xhr.responseType = "json";
      xhr.open(method, url);
      xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest");
      xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
      xhr.onload = function () {
          if (xhr.status === 201) {
              handleTweetFormError("", false);
              const newTweet = xhr.response;
              const newTweetEl = formatTweetElement(newTweet);
              const ogHtml = tweetContainerEl.innerHTML;
              tweetContainerEl.innerHTML = newTweetEl + ogHtml;
              myForm.reset();
          } else if (xhr.status === 400) {
              const errorJson = xhr.response;
              const contentError = errorJson.content;
              let contentErrorMsg;
              if (contentError) {
                  contentErrorMsg = contentError[0];
                  if (contentErrorMsg) {
                      handleTweetFormError(contentErrorMsg, true);
                  } else {
                      alert("An error occured. Please try again.")
                  }
              } else {
                  alert("An error occured. Please try again.")
              }
          } else if (xhr.status === 401) {
              alert("you must login!")
              window.location.href = '/login'
          }

      }
      xhr.send(myFormData);
  }

  const tweetCreateFormEl = document.getElementById("tweet-create-form");

  tweetCreateFormEl.addEventListener("submit", handleTweetCreateFormDidSubmit);

  const tweetContainerEl = document.getElementById("tweets");

  function loadTweets(tweetContainerEl) {
    const xhr = new XMLHttpRequest();
    const method = 'GET';
    const url = "/tweets";

    xhr.responseType = "json";
    xhr.open(method, url);
    xhr.onload = function () {
        const serverResponse = xhr.response;
        const listedItems = serverResponse.response;
        let finalTweetStr = "";
        for (const tweetObj of listedItems) {
            finalTweetStr += formatTweetElement(tweetObj);
        }
        tweetContainerEl.innerHTML = finalTweetStr;
    }
    xhr.send();
  }

  loadTweets(tweetContainerEl);

  function handleDidLike(tweet_id, currentCount) {
    console.log(tweet_id, currentCount);
  }
  
  function likeBtn(tweet) {
    return "<button class='btn btn-primary' onclick=handleDidLike(" +
            tweet.id + "," + tweet.likes + ")>" + tweet.likes + " likes</button>"
  }

  function formatTweetElement(tweet) {
    return "<div class='col-12 col-md-10 mx-auto border rounded py-3 mb-4 tweet' id='tweet-" + tweet.id +
            "'<p>" + tweet.content + "</p><div class='btn-group'>" + likeBtn(tweet) + "</div></div>";
  }

</script>

{% endblock content %}


